<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
    <%-include partials/content.ejs%>
    <!-- List of services -->
    <ul class="services">
        <li>
            <img width="300px" src="./Assets/images/architecture.png" />
            <p>Architecture</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/legacy_modernization.png" />
            <p>Legacy Modernization</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/business_analysis.jpg" />
            <p>Business Analysis</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/digital_and multi_channel_strategies.jpg" />
            <p>Digital and Multi-Channel Strategies</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/project_management.png" />
            <p>Project Management</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/vender_management.jpg" />
            <p>Vendor Management</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/application_design.jpeg" />
            <p>Application Design</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/application_development.png" />
            <p>Application Development</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/application_support.jpg" />
            <p>Application Support</p>
        </li>
        <li>
            <img width="300px" src="./Assets/images/iterative_and_agile_methodologies.png" />
            <p>Iterative and Agile methodologies</p>
        </li>
    </ul>
    <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
