<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
    <%-include partials/content.ejs%>
    <!-- Content of about me -->
    <div class="about-me">
        <div>
            <h1>WONG Pak Wah</h1>
            <h2>Full stack developer</h2>
            <p>I am a year 1 student of Artificial Intelligence - Software Engineering Technology from Centennial College.
                <ul>
                    <li>
                        Professional in Javascript, SQL, C#, ASP.NET
                    </li>
                    <li>
                        Hands-on experience in MongoDB, Express, Angular, NodeJS
                    </li>
                    <li>
                        Insterested in the whole life cycle of SDLC
                    </li>
                    <li>
                        Work on the requirement analysis, UI/UX design, implementation and system enhancement
                    </li>
                    <li>
                        Keep up-to-date with latest technology to enhance workflow, UX and code management
                    </li>
                    <li>
                        Improve the efficiency of my client by my system design
                    </li>
                    <li>
                        Experience in developing content, project and sales management system for non-technicians
                    </li>
                </ul>
                <form action="./Assets/resume.pdf">
                    <button class="btn btn-primary">Resume</button>
                </form>
            </p>
        </div>
        <div>
            <img src="./Assets/images/image_of_me.jpg" />
        </div>
    </div>
    <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>