<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
    <%-include partials/content.ejs%>
    <!-- Content of home page -->
    <div class="home">
        <h1>WONG Pak Wah</h1>
        <h2>Build your own personality</h2>
        <p>A full stack developer</p>
        <form action="./about">
            <button class="btn btn-primary">About me</button>
        </form>
    </div>
    <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>