<%-include partials/header.ejs%>
    <%-include partials/main_nav.ejs%>
    <%-include partials/content.ejs%>
    <!-- List of projects -->
    <ul class="projects">
        <li>
            <div class="project">
                <div>
                    <h1>Idiom World</h1>
                    <ul>
                        <li>Role: Developer</li>
                        <li>Outcome: A Responsive e-learning platform using ASP.NET MVC, C# and bootstrap</li>
                    </ul>
                </div>
                <div>
                    <img height="300px" src="./Assets/images/idiom_world.png" />
                </div>
            </div>
        </li>
        <li>
            <div class="project">
                <div>
                    <img height="300px" src="./Assets/images/logo.png" />
                </div>
                <div>
                    <h1>Express Portfolio Site</h1>
                    <ul>
                        <li>Role: Full stack developer</li>
                        <li>Outcome: A Responsive Portfolio Site using MEAN stack and bootstrap</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="project">
                <div>
                    <h1>Advanced Diploma</h1>
                    <ul>
                        <li>Role: Student</li>
                        <li>Outcome: Completed several assignments and quiz up to A+</li>
                    </ul>
                </div>
                <div>
                    <img height="300px" src="./Assets/images/cat.jpg" />
                </div>
            </div>
        </li>
    </ul>
    <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
