<%-include ../partials/header.ejs%>
    <%-include ../partials/main_nav.ejs%>
    <%-include ../partials/content.ejs%>
    <main class="container">
        <!-- Message Area -->
        <% if (messages.length > 0 ) { %>
            <div class="alert alert-danger">
                <%= messages %>
            </div>
        <% } %>
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h1>Please Login</h1>
                <form method="Post" autocomplete="off">
                    <fieldset class="form-group">
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" required autofocus />
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required />
                    </fieldset>
                    <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-success" value="Login" />
                        <a href="/">
                            <input type="button" value="Cancel" class="btn btn-warning" />
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
    <%-include ../partials/bottom_nav.ejs%>
<%-include ../partials/footer.ejs%>